<fieldset>
  <label>Id:</label>
  <%= @user.id %>
</fieldset>

<fieldset>
  <label>Name:</label>
  <%= first_name(@user) %>
</fieldset>

<fieldset>
  <label>Username:</label>
  <%= @user.username %>
</fieldset>
